{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Francisco Bustamante - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Francisco Bustamante."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'core/css/style.css'%}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="https://avatars.githubusercontent.com/u/23560423?v=4" alt="GitHub profile picture" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Francisco Bustamante</h1>
			<h2 class="quickFade delayThree">Python developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><a href="mailto:flsbustamante@gmail.com" target="_blank">flsbustamante@gmail.com</a></li>
				<li><a href="https://franciscobustamante.com.br">https://franciscobustamante.com.br</a></li>
				<li><a href="https://t.me/chicolucio">Telegram: https://t.me/chicolucio</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>Science communicator and data scientist with a sound
					understanding of Python and packages such as Pandas, Scikit
					Learn, Matpltolib and Plotly. Currently working in the
					education industry solving educational problems with
					programming. Launched Ciência Programada, a science
					communication project in Brazilian Portuguese combining
					science and programming.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Science communicator at Ciência Programada</h2>
					<p class="subDetails">July 2020 - Present</p>
					<p>Launched a science communication with programming platform
                       that gets thousands of views per month. Wrote articles and 
                       recorded videos about Python and packages such as Pandas, 
                       Matplotlib and Scikit Learn. Wrote articles and recorded 
                       videos about coding best practices, Git and tests.</p>
				</article>
				
				<article>
					<h2>Researcher and teacher at IFRJ</h2>
					<p class="subDetails">June 2015 - March 2022</p>
					<p>Launched a research group to develop educational software
					using Python to have the following characteristics: visual
					appeal with Matplotlib and Plotly; data analysis and
					processing with Pandas, NumPy and Scipy; best practices with
					Git and automated tests.  Coordinated projects with Trello.
					Taught physical-chemistry lessons.</p>
				</article>
				
				<article>
					<h2>Chemist/Laboratory manager at UFF</h2>
					<p class="subDetails">August 2014 - June 2015</p>
					<p>Managed the Central Analytical Facility of the Chemistry
					Institute of the university. Automated the analyses
					scheduling process with Google Suite. Increased the
					availability of laboratory equipment by 100 %. Automated the
					equipment usage report with Google Spreadsheets. Launched
					equipment training and data analysis courses. More than 100
					students, technicians and teachers trained.  Built and
					implemented the standardization and process workflow for
					access and training on each laboratory and all equipment of
					the facility.</p>
				</article>

                <article>
                    <h2>Environmental analyst at INEA</h2>
					<p class="subDetails">Janruary 2014 - August 2014</p>
                    <p>Automated environmental indicator reports with Excel.
                    Improved team productivity by 25 %.  Collaborated in the
                    implementation process of ISO/IEC 17025 at Environmental
                    Analysis Laboratory. </p>
                </article>

                <article>
                    <h2>Researcher and teacher at UFF</h2>
					<p class="subDetails">June 2012 - Janruary 2014</p>
                    <p>Supervised two projects regarding the creation of new
                    low-cost educational resources. Taught chemistry lessons</p>
                </article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python</li>
					<li>Matplotlib</li>
					<li>Plotly</li>
					<li>SciPy</li>
					<li>Scikit Learn</li>
					<li>Linux</li>
					<li>Git</li>
					<li>Excel</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Universidade Federal Fluminense</h2>
					<p class="subDetails">Master's Degree in Chemistry</p>
					<p>Experienced with data analysis using Excel and Origin
					software.  Three scientific papers published in
					international peer-reviewed journals. Organizing committee
					member of two scientific symposiums </p>
				</article>
				
				<article>
					<h2>Universidade Federal Fluminense</h2>
					<p class="subDetails">Bachelor's Degree in Chemistry</p>
					<p>One scientific paper published in national peer-reviewed
					journal. Winner of the Alumni Laureate Award due to high
					academic performance.  </p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
	</div>
</div>
</body>
</html>
